/*-----------
wave
-----------*/

.page-container {

}

.wave-container {

}
.wave-container .wave-bar {
  display: inline-block;
  width: 8px;
  height: 60px;
  margin: 0 2px;
  background-color: #d3d5d4;
  animation: beat1 1s infinite;
  transform-origin: 50% 100%;
  transform: scaleY(0.3);
}
.wave-container .wave-bar:nth-child(2n) {
  animation-name: beat2;
  animation-delay: 0.2s;
  background-color: #d3d5d4;
}
.wave-container .wave-bar:nth-child(3n) {
  animation-name: beat3;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  background-color: #d3d5d4;
}
.wave-container .wave-bar:nth-child(4n) {
  animation-name: beat2;
  animation-delay: 0.4s;
  animation-duration: 0.8s;
}
.wave-container .wave-bar:nth-child(5n) {
  animation-delay: 0.6s;
}
.wave-container .wave-bar:nth-child(6n) {
  animation-delay: 0.2s;
  background-color: #d3d5d4;
}

@keyframes beat1 {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(0.3);
  }
}
@keyframes beat2 {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.3);
  }
}
@keyframes beat3 {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.3);
  }
}

/*---------------------
Status bars
-------------------*/

.status-container {
}

.bars-container {
  border: 2px solid #d3d5d4;
  padding: 2px;
  width: 198px;
  margin: 5px 0
}
.status-container .bars-container .status-bar{
  display: inline-block;
    width: 190px;
    height: 12px;
    background-color: #d3d5d4;
    animation: status1 5s infinite;
    transform-origin: 100% 0%;
    transform: scaleX(0.3);
}
.status-container .bars-container:nth-child(2n) .status-bar{
  animation-name: status2;
  animation-delay: 2s;
  background-color: #d3d5d4;
}
.status-container .bars-container:nth-child(3n) .status-bar{
  animation-name: status3;
  animation-delay: 2s;
  animation-duration: 2s;
  background-color: #d3d5d4;
}

@keyframes status1 {
  0% {
    transform: scaleX(0.3);
  }
  50% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(0.3);
  }
}
@keyframes status2 {
  0% {
    transform: scaleX(0.3);
  }
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(0.3);
  }
}
@keyframes status3 {
  0% {
    transform: scaleX(0.3);
  }
  50% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(0.3);
  }
}


/*---------------------
Radial progres bar
------------------*/
.radial{
  display: flex;
}

.circle.left {
  position: absolute;
}

.circle{
  border-radius: 50%;
    border: 2px solid #d3d5d4;
    width: 55px;
    height: 55px;
    padding: 3px;
    margin: 0 10px;
}

.circle span {
  width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    border: 12px solid #d3d5d4;
}

.circle.first span {
  clip-path: polygon(0 60%, 50% 50%, 110% 60%, 110% 110%, 0 110%);
  -webkit-animation: rotate-left 5s infinite linear;
}

.circle.second span {
  clip-path: polygon(0 0, 20% 0, 50% 50%, 80% 0, 110% 0, 110% 110%, 0 110%);
  -webkit-animation: rotate-left 7s infinite linear;
}

.circle.third span {
  clip-path: polygon(0 30%, 50% 50%, 110% 30%, 110% 110%, 0 110%);
  -webkit-animation: rotate-left 3s infinite linear;
}

@-webkit-keyframes rotate-left {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }
}

/*---------------
luminancia
---------------*/
.luminancia{
  -webkit-animation: luminancia 3s infinite linear;
}


@-webkit-keyframes luminancia {
  0% { -webkit-filter: brightness(100%); }
  50% { -webkit-filter: brightness(122%); }
  100% { -webkit-filter: brightness(100%); }
}

/*-----------------
carrousel
------------------*/

.scene {
  margin: 20px 0;
  position: relative;
  perspective: 1000px;
}

.carousel1 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-160px);
  transform-style: preserve-3d;
  transition: transform 2s;
}

.carousel1__cell {
  position: absolute;
}

.carousel1__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(346px); transition: 2s; opacity: 0.3 }
.carousel1__cell:nth-child(2) { transform: rotateY( 60deg) translateZ(346px); transition: 2s; opacity: 0.3 }
.carousel1__cell:nth-child(3) { transform: rotateY(120deg) translateZ(346px); transition: 2s; opacity: 0.3 }
.carousel1__cell:nth-child(4) { transform: rotateY(180deg) translateZ(346px); transition: 2s; opacity: 0.3 }
.carousel1__cell:nth-child(5) { transform: rotateY(240deg) translateZ(346px); transition: 2s; opacity: 0.3 }
.carousel1__cell:nth-child(6) { transform: rotateY(300deg) translateZ(346px); transition: 2s; opacity: 0.3 }

.active {  transition: 2s ; opacity: 1 !important }


