@font-face {
    font-family: rajdhani;
    src: url(../font/rajdhani-light.woff2);
    font-weight: 300;
  }
   @font-face {
    font-family: rajdhani;
    src: url(../font/rajdhani-regular.woff2);
  }
  @font-face {
    font-family: rajdhani;
    src: url(../font/rajdhani-medium.woff2);
    font-weight: 500;
  }
  @font-face {
    font-family: rajdhani;
    src: url(../font/rajdhani-bold.woff2);
    font-weight: bold;
  }
html{
  font-family: 'rajdhani';
  color: #414744;
}

body{
  overflow: hidden;
}

h1{
  font-weight: bold;
    font-size: 60px;
}

h5{
  font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #8aae41;
}

.bg{
  position: fixed;
  z-index: -100;
  width: 65%;
  top: 40%;
  left: 4%;
  opacity: 0.2;
}

.swiper-container {
  width: 100%;
  height: 74%;
}

.green-text{
color: #8dbb36;
}

.green-bg{
background: #8dbb36;
}

.grey-ao-text{
color: #414744;
}

.grey-ao-bg{
background: #414744;
}

.grey-text-10{
color: #e5e5e5;
}

.grey-bg-10{
background: #e5e5e5;
}

.marco-general{
    padding: 4rem !important;
}

.marco-lateral{
    padding: 2rem 4rem !important;
    overflow: hidden;
}

.marco-slider{
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

.marco-slider h3, .marco-slider2 h3{
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.marco-slider2{
  display: flex;
  align-items: center;
  height: 80%;
}

.slidercard{
  width: 35%;
  background: rgba(255, 255, 255, 0.9);
  border-right: 10px solid #8aae41;
  border-radius: 4px;
  padding: 28px;
}

.slidercard-green{
  background: #8aae41;
  color: white;
  padding: 28px !important;
}

.slidercard-green h3, .slider-green h3{
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.slider-green{
  display: flex;
    background: #8aae41;
    color: white;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.slidercard-green p, .slider-green p{
  color: white;
}

.logo{
    height: 5rem;
}

.chipset{
    left: 4rem;
    position: relative;
    height: 4rem;
}

.bullet{
    width: 3rem;
    margin-right: 2rem;
}

.titulares{
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.titulares span{
  font-weight: 500;
  font-size: 36px;
  color: #8aae41;
  line-height: 36px;
  width: 68%;
}

.backimg{
  position: fixed;
  z-index: -100;
  width: 100%;
}

.encabezado{
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #414744;
  border-bottom: 10px solid #8aae41;
  padding-bottom: 20px
}

p {
  color: black;
  line-height: 24px;
  font-size: 20px;
}

li p{
  margin: 0 0 0 10px;
  font-size: 15px;
}

.img1{
  height: 230px;
  border-left: 10px solid #8aae41;
  border-radius: 1%;
}

.temperatura{
  margin: 8px 0;
  font-size: 18px;
  line-height: 16px;
}

.temp-actual{
  font-size: 4.5rem;
  font-weight: 500;
}

.temp-actual-icon{
  height: 70px;
}

#clock{
  font-size: 3.5rem;
  line-height: 38px;
  font-weight: 500;
}

.aoncard{
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 10px solid #8aae41;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 20px;
}

.aoncard span{
  font-weight: 500;
  font-size: 16px;
  color: #8aae41;
  line-height: 1rem;
  text-transform: uppercase;
}

.empleado-estrella{
  width: 25%;
}

.empleado-cumple{
  width: 15%;
}

.nombre{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.nombre-cumple{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.estrellas{
  width: 130px;
  margin-top: 10px;
}

.cargo{
  margin: 0;
  font-size: 14px;
}

.fecha{
  font-size: 14px;
  color: #8aae41;
  font-weight: 500;
}

.etiqueta{
  font-size: 45px;
    color: white;
    font-weight: 500;
    background: #8aae41;
    padding: 20px;
    border-radius: 0 65px 65px 0;
    width: 35%;
    box-shadow: 2px 6px 11px rgba(0, 0, 0, 0.54);
    position: absolute;
    left: -29px;
    z-index: 900;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: luminancia 2s infinite linear;
}

.megafono{
  width: 50px;
  margin-left: 15px;
  filter: invert(1);
}

.font15px{
  font-size: 15px;
}

.w35{
  width: 35%;
}

.w33{
  width: 33%;
}

.w40{
  width: 40%;
}

.w50{
  width: 50% !important;
}

.w75{
  width: 75%;
}

.h78{
  height: 78%;
}

.w100{
  width: 100%;
}

.h100{
  height: 100%;
}

.px20{
  max-width: 20px;
  max-height: 20px;
}

.px30{
  max-width: 30px;
  max-height: 30px;
}

.m0{
  margin: 0 !important;
}
.m5{
  margin: 5px !important;
}

.mt1{
  margin-top: 1rem;
}

.mt2{
  margin-top: 2rem;
}

.mb1{
  margin-bottom: 1rem;
}

.mb2{
  margin-bottom: 2rem;
}

.mb3{
  margin-bottom: 3rem;
}

.ml05{
  margin-left: 0.5rem;
}

.lh20{
  line-height: 20px;
}

.p3{
  padding: 3rem;
}

.p28px{
  padding: 28px;
}
/*----------
organizacionales
----------*/
.flex{
  display: flex;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-space-around{
  display: flex;
  justify-content: space-around;
}

.flex-hor-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-ver-center{
  display: flex;
  align-items: center;
}

.snd-slider{
  text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

/*----------
Wifi signal bars
----------*/
* { box-sizing: border-box; }

.sizing-box {
  height: 80px;
  width: 100px;
}

.signal-bars {
  display: inline-block;
}

.signal-bars .bar {
  width: 14%;
  margin-left: 1%;
  min-height: 20%;
  display: inline-block;
}
.signal-bars .bar.first-bar  { height: 20%; }
.signal-bars .bar.second-bar { height: 40%; }
.signal-bars .bar.third-bar  { height: 60%; }
.signal-bars .bar.fourth-bar { height: 80%; }
.signal-bars .bar.fifth-bar  { height: 99%; }

.good .bar {
  background-color: #414744;
  border: thin solid darken(#414744, 7%);
}

.four-bars .bar.fifth-bar,
.three-bars .bar.fifth-bar,
.three-bars .bar.fourth-bar,
.one-bar .bar:not(.first-bar),
.two-bars .bar:not(.first-bar):not(.second-bar) {
  background-color: #fafafa;
  border: thin solid #f3f3f3;
}

/*---------------

----------------*/
